# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science

- Julia
- Scala
- C++
- Swift

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Matplotlib
3. Pandas
4. SciPy
5. Seaborn

|Data Science Tools|
|------------------|
|Matplotlib|
|Tableau|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Alejandro Men√©ndez Reis